<article class="post">
  
	<%- partial('_partial/_post/header',{post: page}) %> 
	<%- partial('_partial/_post/mathjax',{post: page}) %> 

	  <div class="typo post-content slideDownMin">

		<% if (page.banner){ %>
			
				<div class="banner" 
				src="<%- url_for(page.banner) %>" 
				style="background-image:url(<%- url_for(page.banner) %>)"> </div>	

		<% } else if (page.photos && page.photos.length){ %> 	
				<%- partial('_partial/_post/gallery',{post:page}) %>			
		<%}%>

			<% if (page.excerpt && page.hide_excerpt ){ %>
					<%- page.more %>  					
			<%} else{%>
					<%- page.content %>  	
			<%}%>	
			
			<div id="MySignature" style="display: block;"><div id="Copyright">
				<p class="com">
				您的关注和支持是我写作的最大动力~ <br>
				出处：<a href="http://www.chenqaq.com/" target="_blank">http://www.chenqaq.com</a><br>
				github：<a target="_blank" href="https://github.com/okaychen">https://github.com/okaychen</a>
				<br>
				Web技术更新很快，本站很多文章都具有时效性，我会及时更新原文，持续和大家分享，除去特殊注明外，均为作者原创，采用更开放的「署名 4.0 国际（CC BY 4.0）」创作共享协议。欢迎大家转载，转载时请保留文章最后的出处，如若标注「原创」请先与本人取得联系
				</p>
				
				</div></div>
	  </div>     
	  

	<%- partial('_partial/_post/footer',{post: page}) %> 
	<%- partial('_partial/_post/comment') %>	
</article>
<%- partial('_partial/_post/toc',{post:page}) %>